name: Build Bara Tool

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        
    - name: Install PlatformIO Core
      run: |
        pip install -U platformio
        
    - name: Install Dependencies
      run: |
        platformio lib install "Adafruit GFX Library"
        platformio lib install "Adafruit SSD1306"
        platformio lib install "Adafruit BusIO"
        platformio lib install "ESP Async WebServer"
        platformio lib install "DNSServer"
        platformio lib install "ESPmDNS"
        platformio lib install "ArduinoJson"
        platformio lib install "Audio"
        
    - name: Build Firmware
      run: |
        platformio run --environment esp32dev
        
    - name: Archive Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bara-firmware
        path: .pio/build/esp32dev/bara.bin
